<!DOCTYPE html>
<html>
<!--
1. Dynamic Villan Dropdown
2. Dynamic Waiting Picture for villain Choice
3. Send choice to server
-->
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <% include global/header %>

  <div id="feedback">

  </div>
  <div id="throw_choice">
    <h2>Play the Game</h2>
    <h4><%=user.name%> it's your turn to bust a move!</h4>
    <form action="<%=user.name%>/game" method="post">
      Enter your choice of weapon:<br>
      <select name="weapon">
        <option value=" "> </option>
        <option value="Paper">Paper</option>
        <option value="Rock">Rock</option>
        <option value="Scissors">Scissors</option>
      </select>

      Enter your choice of Villian:<br>
      <select name="villain_name">
        <option value=" "></option>
        <% for (i=0; i < data.villains.length; i++) { %>
          <option value="<%=data.villains[i].name%>">
            <%= data.villains[i].name %>
          </option>
        <% } %>
      </select>

      <button type="submit">Shoot!</button>

    </form>

    <img src="/images/<%=villain_image%>.svg">






  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
</body>

</html>
